<header class="characterHeader">
  <pre>
█▀▀ █░░ █▀▀ █▀█ █▀█
 █▄▄ █▄▄ ██▄ █▄█ ▀▀█</pre>
  <div class="characterHeader__name makeFlex">
    <span>{{localize "voidhack.name"}}</span>
    <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
  </div>
  <div class="characterHeader__identity makeFlex">
    <span>{{localize "voidhack.identity"}}</span>
    <input name="data.identity" type="text" value="{{data.data.identity}}" placeholder="{{localize "voidhack.tooltip.identity"}}"/>
  </div>
</header>
