<section class="characterAbilities">
  <div class="characterAbilities__list">
    <div class="items-group">
    <div class="items-group-title makeFlex"><div class="items-group-name">{{localize "voidhack.abilitiesText"}}</div><a class="item-create" data-type="ability"> <i class="fas fa-plus"></i></a></div>
    {{#each abilities as |ability id|}}
      <div class="ability-card item makeFlex" data-item-id="{{_id}}">
        <a class="item-edit">
          <i class="fas fa-pen"></i>
        </a>
        <a class="item-delete paddingLeft">
          <i class="fas fa-trash"></i>
        </a>
        <div class="ability-name paddingLeft">{{name}}</div>
      </div>
    {{/each}}
    </div>
  </div>
</section>
